body {
  background-color: #fff;
}
body .toptitular {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
body .media {
  padding: 10px;
  width: 100%;
  background-color: #CCBC9F !important;
}
body .media button:first-child {
  width: 100px;
}
body .media button:first-child img {
  max-width: 200px;
}
body .media button:last-child {
  margin-left: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0;
}
body .media > h4 {
  width: auto;
  color: white;
  padding-left: 10px;
}
body #tarifes .preus {
  display: flex;
  border: none;
  justify-content: space-between;
  border-bottom: solid 1px #CCBC9F;
}
body #tarifes .preus td {
  border: none;
  display: flex;
  align-items: center;
}
body #tarifes .preus td:nth-child(1), body #tarifes .preus td:nth-child(3) {
  width: 10%;
  display: flex;
  justify-content: center;
}
body #tarifes .preus td:nth-child(2) {
  text-transform: uppercase;
  width: 80%;
}
body #Reservar, body #Anula {
  border-radius: 0px;
  text-transform: uppercase;
}
body .form-group span:nth-child(2) {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bold;
}
body .form-group .glyphicon {
  font-size: 2rem;
}
body .form-group p > input, body .form-group select, body .form-group textarea {
  border: solid 1px #CCBC9F;
}