    /*
    Flaticon icon font: Flaticon
    Creation date: 16/10/2018 16:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-calendar:before { content: "\f100"; }
.flaticon-down-arrow:before { content: "\f101"; }
.flaticon-maps-and-flags:before { content: "\f102"; }
.flaticon-avatar:before { content: "\f103"; }
.flaticon-bed:before { content: "\f104"; }
.flaticon-bathtub:before { content: "\f105"; }
.flaticon-computer-screen:before { content: "\f106"; }
.flaticon-wifi:before { content: "\f107"; }
.flaticon-air-conditioner:before { content: "\f108"; }
.flaticon-elevator:before { content: "\f109"; }
.flaticon-microwave:before { content: "\f10a"; }
.flaticon-message:before { content: "\f10b"; }
.flaticon-phone-call:before { content: "\f10c"; }
.flaticon-youtube:before { content: "\f10d"; }
.flaticon-twitter-logo-button:before { content: "\f10e"; }
.flaticon-facebook-logo-button:before { content: "\f10f"; }
.flaticon-pinterest:before { content: "\f110"; }
.flaticon-instagram-logo:before { content: "\f111"; }
.flaticon-skype-logo:before { content: "\f112"; }
    
    $font-Flaticon-calendar: "\f100";
    $font-Flaticon-down-arrow: "\f101";
    $font-Flaticon-maps-and-flags: "\f102";
    $font-Flaticon-avatar: "\f103";
    $font-Flaticon-bed: "\f104";
    $font-Flaticon-bathtub: "\f105";
    $font-Flaticon-computer-screen: "\f106";
    $font-Flaticon-wifi: "\f107";
    $font-Flaticon-air-conditioner: "\f108";
    $font-Flaticon-elevator: "\f109";
    $font-Flaticon-microwave: "\f10a";
    $font-Flaticon-message: "\f10b";
    $font-Flaticon-phone-call: "\f10c";
    $font-Flaticon-youtube: "\f10d";
    $font-Flaticon-twitter-logo-button: "\f10e";
    $font-Flaticon-facebook-logo-button: "\f10f";
    $font-Flaticon-pinterest: "\f110";
    $font-Flaticon-instagram-logo: "\f111";
    $font-Flaticon-skype-logo: "\f112";