	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/10/2018 16:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
/*margin-left: 20px;*/
}

.flaticon-calendar:before { content: "\f100"; }
.flaticon-down-arrow:before { content: "\f101"; }
.flaticon-maps-and-flags:before { content: "\f102"; }
.flaticon-avatar:before { content: "\f103"; }
.flaticon-bed:before { content: "\f104"; }
.flaticon-bathtub:before { content: "\f105"; }
.flaticon-computer-screen:before { content: "\f106"; }
.flaticon-wifi:before { content: "\f107"; }
.flaticon-air-conditioner:before { content: "\f108"; }
.flaticon-elevator:before { content: "\f109"; }
.flaticon-microwave:before { content: "\f10a"; }
.flaticon-message:before { content: "\f10b"; }
.flaticon-phone-call:before { content: "\f10c"; }
.flaticon-youtube:before { content: "\f10d"; }
.flaticon-twitter-logo-button:before { content: "\f10e"; }
.flaticon-facebook-logo-button:before { content: "\f10f"; }
.flaticon-pinterest:before { content: "\f110"; }
.flaticon-instagram-logo:before { content: "\f111"; }
.flaticon-skype-logo:before { content: "\f112"; }