.title {
  font-family: 'Proxima Nova Lt';
  text-shadow: 3px 1px 1px rgba(150, 150, 150, 0.55); }

.sub-title {
  margin: 10px 0; }
  .sub-title > .sub-title-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0; }
    .sub-title > .sub-title-options > li {
      color: white;
      font-size: 1rem;
      margin: 0 10px;
      text-transform: uppercase;
      font-family: 'Proxima Nova Lt'; }
      .sub-title > .sub-title-options > li > b {
        font-family: 'Proxima Nova Rg';
        font-weight: 700; }
      @media screen and (max-width: 360px) {
        .sub-title > .sub-title-options > li:nth-child(even) {
          display: none; } }

.title.white {
  color: white; }

.title.title-lg {
  font-size: 3rem; }

.section-title {
  font-size: 2rem;
  margin-top: 30px;
  font-family: 'Proxima Nova Lt';
  font-weight: 700;
  text-transform: uppercase; }

.section-subtitle {
  font-family: 'Proxima Nova Lt';
  font-weight: 700;
  font-size: 1rem; }

* {
  font-family: 'Proxima Nova Rg';
  font-size: 12px; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.avise-cookies {
  z-index: 10000;
  width: 100%;
  background-color: black;
  display: block;
  position: fixed;
  bottom: 0;
  min-height: 80px;
  height: auto;
  padding: 20px 0; }
  .avise-cookies .content {
    color: white;
    display: flex; }
    .avise-cookies .content a {
      color: #CABA9D;
      font-weight: 600; }
  .avise-cookies .actions {
    margin-left: 20px;
    color: #F6AF3A;
    cursor: pointer;
    position: relative;
    min-width: 100px; }
    .avise-cookies .actions ul {
      margin: 0;
      display: none;
      position: absolute;
      top: -140%;
      padding: 10px;
      background-color: black; }
      .avise-cookies .actions ul li {
        min-width: 100px;
        width: auto; }
        .avise-cookies .actions ul li a {
          color: white; }
          .avise-cookies .actions ul li a:hover {
            color: #F6AF3A; }
    .avise-cookies .actions:hover > ul {
      display: block; }

.bg-image {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("./../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .bg-image:before {
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%; }

.facebook-color {
  color: #3b5998 !important; }

.pinterest-color {
  color: #bd081c !important; }

.youtube-color {
  color: #b31217 !important; }

.instagram-color {
  color: #3b5998 !important; }

.twitter-color {
  color: #1da1f2 !important; }

#loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(202, 186, 157, 0.8);
  z-index: 10000;
  background-image: url("./../images/loading.gif");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat; }

#content-page {
  padding-bottom: 50px; }

.contact-form {
  -webkit-box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
  margin-top: 20px; }
  .contact-form .actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact-form .actions .button-submit {
      background-color: #CABA9D;
      color: white;
      border: none;
      padding: 0 10px;
      height: 40px;
      border-radius: 5px;
      min-width: 40%;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer; }
  .contact-form form {
    padding: 10px; }
  .contact-form .social {
    padding: 10px 0px; }
    .contact-form .social .icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%; }
      .contact-form .social .icons .icon {
        text-decoration: none;
        margin: 0 5px; }
        .contact-form .social .icons .icon i::before {
          font-size: 1.7rem; }
  .contact-form .form-info {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    background-color: #CABA9D; }
    .contact-form .form-info .logo {
      min-width: 30%;
      width: 30%; }
    .contact-form .form-info ul {
      height: 100%;
      margin: 0;
      width: auto;
      display: flex;
      align-items: flex-end;
      flex-direction: column; }
      .contact-form .form-info ul li {
        width: 100%;
        display: flex;
        align-items: center;
        color: white; }
        .contact-form .form-info ul li .text-bold {
          font-family: 'Proxima Nova Rg';
          font-weight: 700; }
        .contact-form .form-info ul li .info, .contact-form .form-info ul li .text-bold {
          margin-left: 10px; }
  .contact-form .input-form {
    width: 100%;
    padding: 10px;
    font-family: 'Proxima Nova Rg';
    font-weight: 500;
    margin-top: 15px;
    border: none;
    border-bottom: solid 2px #CABA9D; }
  .contact-form textarea.input-form {
    width: 100%;
    height: 200px;
    resize: none; }

.panel-text {
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  font-family: 'Proxima Nova Rg';
  font-weight: 500;
  font-size: 1.2rem; }

footer {
  font-family: 'Proxima Nova Rg';
  font-weight: 500;
  background-color: #CABA9D;
  padding: 50px 0 20px; }
  footer .let-malaga-info .logo {
    width: 100px;
    margin-bottom: 10px; }
  footer .let-malaga-info .contact-info li {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Proxima Nova Rg';
    font-weight: 500; }
    footer .let-malaga-info .contact-info li .icon {
      margin-right: 10px; }
  footer .let-malaga-info .social .icons .icon {
    margin-right: 10px; }
    footer .let-malaga-info .social .icons .icon i::before {
      font-size: 2rem; }
  footer .footer-title {
    color: white;
    margin-bottom: 5px;
    font-size: 1.5rem; }
  footer .link-group li {
    margin-top: 5px; }
    footer .link-group li a {
      color: white; }
      footer .link-group li a:hover {
        color: #F6AF3A; }

.icnea {
  background-color: #fff; }
  .icnea .toptitular {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; }
  .icnea .media {
    padding: 10px;
    width: 100%;
    background-color: #CCBC9F !important; }
    .icnea .media button:first-child {
      width: 100px; }
      .icnea .media button:first-child img {
        max-width: 200px; }
    .icnea .media button:last-child {
      margin-left: 10px;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 0; }
    .icnea .media > h4 {
      width: auto;
      color: white;
      padding-left: 10px; }
  .icnea #tarifes .preus {
    display: flex;
    border: none;
    justify-content: space-between;
    border-bottom: solid 1px #CCBC9F; }
    .icnea #tarifes .preus td {
      border: none;
      display: flex;
      align-items: center; }
      .icnea #tarifes .preus td:nth-child(1), .icnea #tarifes .preus td:nth-child(3) {
        width: 10%;
        display: flex;
        justify-content: center; }
      .icnea #tarifes .preus td:nth-child(2) {
        text-transform: uppercase;
        width: 80%; }
  .icnea #Reservar, .icnea #Anula {
    border-radius: 0px;
    text-transform: uppercase; }
  .icnea .form-group span:nth-child(2) {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bold; }
  .icnea .form-group .glyphicon {
    font-size: 2rem; }
  .icnea .form-group p > input, .icnea .form-group select, .icnea .form-group textarea {
    border: solid 1px #CCBC9F; }

.billboard {
  max-width: 100vw;
  background-image: url("./../images/services.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .billboard:before {
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%; }
  .billboard .billboard-title {
    height: 200px;
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: 'Proxima Nova LT'; }

.banner-vertical {
  width: 100%;
  height: 700px;
  background-image: url("./../images/background.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 25px; }

.breadcrumb-letmalaga {
  padding: 10px 20px;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center; }
  .breadcrumb-letmalaga .return-back {
    color: #CABA9D;
    font-family: 'Proxima Nova LT';
    text-decoration: none;
    font-weight: 700; }

#map-horizontal {
  height: 400px;
  width: 100%;
  margin-top: 20px; }

.about-text {
  border-bottom: solid 2px #CCBC9F;
  margin-bottom: 30px; }

.faqs {
  background-color: white;
  padding: 20px;
  margin-top: 20px; }
  .faqs .faq {
    margin-bottom: 10px;
    border-bottom: solid 2px #CCBC9F; }
    .faqs .faq .faq-title {
      font-size: 2rem;
      font-family: 'Proxima Nova Lt';
      font-weight: 700;
      color: #CCBC9F;
      cursor: pointer; }
    .faqs .faq .faq-description {
      display: none; }
    .faqs .faq .faq-description.active {
      display: block; }

.flatpickr-calendar {
  font-family: 'Proxima Nova Rg';
  padding: 10px 0; }
  .flatpickr-calendar .selected {
    background-color: #CABA9D;
    border-color: #CABA9D; }
    .flatpickr-calendar .selected:hover {
      background-color: #CABA9D !important;
      border-color: #CABA9D !important; }
  .flatpickr-calendar .flatpickr-day::hover {
    background-color: #CABA9D !important;
    border-color: #CABA9D !important; }

#header {
  background-color: #CABA9D; }
  #header #logo img {
    max-width: 100px; }

.bg-image #header {
  padding: 20px 0;
  background-color: transparent; }

#navbar .navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0; }

#navbar .navbar-item {
  padding: 0 15px; }
  #navbar .navbar-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 400;
    display: block;
    font-family: 'Proxima Nova Rg'; }
    #navbar .navbar-item a:hover {
      font-weight: 500; }

#navbar .hamburger {
  height: 60px;
  display: none;
  color: white; }
  #navbar .hamburger .hamburger-inner, #navbar .hamburger .hamburger-inner::after, #navbar .hamburger .hamburger-inner::before {
    background-color: white; }

@media screen and (max-width: 990px) {
  #navbar {
    display: flex;
    justify-content: flex-end; }
    #navbar .hamburger {
      display: block; }
    #navbar .navbar-list {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      display: none;
      position: absolute;
      top: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 2;
      padding-left: 30px;
      padding-right: 10px; }
      #navbar .navbar-list .navbar-item {
        padding: 10px 0;
        width: 100%; }
        #navbar .navbar-list .navbar-item a {
          display: flex;
          justify-content: flex-end; } }

#principal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%; }

.form, .reserve-form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 375px) {
    .form, .reserve-form {
      flex-direction: column; } }

.dates {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .dates .box {
    width: 50%; }

.box {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 32%;
  position: relative;
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 3px; }
  @media screen and (max-width: 375px) {
    .box {
      width: 100%;
      margin: 5px 0; } }
  .box .icon {
    color: #CABA9D;
    font-size: 1.3rem; }
  .box .text {
    color: #bdbdbd;
    font-family: 'Proxima Nova Rg';
    margin-left: 15px;
    font-size: 1.2rem; }
  .box .arrow {
    position: absolute;
    right: 15px;
    color: #F6AF3A; }

.box.box-information {
  background-color: #CABA9D;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Proxima Nova Rg';
  text-decoration: none;
  border: none; }
  .box.box-information:hover {
    background-color: #c6b596; }

.form-button {
  background-color: transparent;
  border: solid 2px #C2C2C2;
  color: #fff;
  text-transform: uppercase;
  min-width: 200px;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  margin-top: 10px;
  font-family: 'Proxima Nova Rg';
  font-size: 1.3rem;
  cursor: pointer; }

.reserve-form {
  margin-top: 10px;
  flex-wrap: wrap; }
  .reserve-form .box {
    width: 100%;
    margin: 5px 0; }

.property .banner {
  background-image: url("./../images/property.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%; }
  @media screen and (max-width: 441px) {
    .property .banner {
      height: 300px; } }

.property .info-property-principal {
  background-color: #E2E2E2;
  padding: 20px 20px 30px; }
  .property .info-property-principal .name {
    font-size: 1.6rem;
    color: #CCBC9F;
    font-family: 'Proxima Nova Lt';
    font-weight: 700; }
  .property .info-property-principal .address-info {
    display: flex;
    align-items: center; }
    .property .info-property-principal .address-info .icon::before {
      font-size: 1.6rem; }
    .property .info-property-principal .address-info .address {
      color: #aaaaaa;
      font-family: 'Proxima Nova Rg';
      font-weight: 400;
      margin-left: 10px; }

.property .info-property {
  background-color: #EEEEEE;
  padding: 30px 20px; }
  .property .info-property .section {
    color: #A2A2A2;
    font-size: .9rem;
    font-family: 'Proxima Nova Rg';
    border-bottom: solid 1px #CCBC9F;
    padding: 20px 0px; }
    .property .info-property .section:last-child {
      border: none; }
    .property .info-property .section .section-title {
      font-family: 'Proxima Nova Lt';
      font-weight: 700;
      color: #CCBC9F;
      margin-bottom: 20px;
      font-size: 1rem; }
    .property .info-property .section .characteristics-property ul {
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .property .info-property .section .characteristics-property ul li {
        display: flex;
        align-items: center;
        border: none;
        margin-top: 10px;
        justify-content: flex-start; }
        .property .info-property .section .characteristics-property ul li .icon {
          font-weight: 500; }
          .property .info-property .section .characteristics-property ul li .icon:before {
            color: #000;
            font-size: 2rem; }
        .property .info-property .section .characteristics-property ul li .info {
          margin-left: 20px;
          text-transform: capitalize; }
    .property .info-property .section .gallery {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .property .info-property .section .gallery .image {
        width: calc(50% - 10px);
        margin: 0px 10px 20px 0px; }
        .property .info-property .section .gallery .image:nth-child(even) {
          margin: 0px 0px 20px 10px; }
        @media screen and (max-width: 441px) {
          .property .info-property .section .gallery .image {
            width: 100%; } }
    .property .info-property .section .map {
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 300px; }
    .property .info-property .section .action {
      display: flex;
      justify-content: center; }
      .property .info-property .section .action .form-button {
        border-color: #CCBC9F;
        color: #A2A2A2; }

.characteristics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aaaaaa;
  margin-top: 10px; }
  .characteristics ul {
    display: flex;
    align-items: center;
    margin: 0; }
    .characteristics ul li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-left: solid 1px #CCBC9F;
      height: 30px;
      padding: 5px 10px; }
      .characteristics ul li .info {
        margin-left: 10px; }
        .characteristics ul li .info:first-child {
          margin-left: 0; }
      .characteristics ul li:first-child {
        border: 0; }
      .characteristics ul li .icon::before {
        color: #000;
        font-weight: semi-bold;
        font-size: 1.2rem; }
  .characteristics .price {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    color: #000;
    text-transform: uppercase; }
  .characteristics .sub {
    vertical-align: super;
    font-size: .7rem; }

.reserve {
  height: auto;
  padding: 20px 5px;
  background-color: #D8D8D8; }
  @media screen and (max-width: 900px) {
    .reserve {
      position: relative; } }
  .reserve .reserve-form .dates {
    display: flex;
    width: 100%;
    flex-direction: column; }
  .reserve .content {
    top: 25vh;
    right: 0;
    padding: 5px 10px;
    animation: all .3s; }
    @media screen and (max-width: 900px) {
      .reserve .content {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        padding: 20px 20px; } }
  .reserve .reserve-name {
    font-family: 'Proxima Nova Lt';
    font-weight: 700;
    color: white;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    text-align: center; }

@media screen and (max-width: 900px) {
  .reorder {
    flex-direction: column-reverse; } }

.search-bg {
  background-color: #EEEEEE; }

#map {
  height: 200vh;
  width: 100%; }

#params-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: space-around;
  flex-direction: row;
  padding: 10px; }
  @media screen and (max-width: 800px) {
    #params-filter {
      width: 100%; } }
  #params-filter .dates {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #params-filter .dates .box {
      width: 50%; }
    @media screen and (max-width: 800px) {
      #params-filter .dates {
        width: 100%; } }
  #params-filter .box {
    width: 24%;
    padding: 10px;
    height: 50px; }
    @media screen and (max-width: 800px) {
      #params-filter .box {
        width: 40%;
        margin-top: 10px; } }
  #params-filter .text {
    font-size: 1rem; }
  #params-filter .filters {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; }
  #params-filter .filters.hide {
    display: none; }

.info-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #BCAD92;
  padding: 20px 0; }

.properties, .services-blog {
  border-bottom: solid 2px #CCBC9F;
  padding-bottom: 50px; }

.properties .property, .services-blog .item-service-blog {
  background-color: white;
  margin-top: 25px;
  display: block;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.1); }
  .properties .property .info-property, .services-blog .item-service-blog .info-property {
    background-color: transparent;
    padding: 15px 10px; }
    .properties .property .info-property .property-title, .services-blog .item-service-blog .info-property .property-title {
      font-size: 1.6rem;
      text-transform: capitalize;
      color: #CABA9D;
      font-family: 'Proxima Nova Lt';
      font-weight: 600; }
    .properties .property .info-property .property-address, .services-blog .item-service-blog .info-property .property-address {
      display: flex;
      align-items: center; }
      .properties .property .info-property .property-address .icon::before, .services-blog .item-service-blog .info-property .property-address .icon::before {
        font-size: 1.7rem; }
      .properties .property .info-property .property-address .address, .services-blog .item-service-blog .info-property .property-address .address {
        margin-left: 10px;
        color: #aaaaaa; }
  .properties .property .characteristics-property li, .services-blog .item-service-blog .characteristics-property li {
    border-left: solid 1px #CCBC9F;
    margin-top: 0; }
    .properties .property .characteristics-property li .icon, .services-blog .item-service-blog .characteristics-property li .icon {
      font-weight: 500; }
      .properties .property .characteristics-property li .icon:before, .services-blog .item-service-blog .characteristics-property li .icon:before {
        color: #000;
        font-size: 2rem;
        font-size: 1.2rem !important; }

.carousel {
  cursor: pointer; }
  .carousel .mini-banner {
    height: 200px;
    background-position: center;
    background-size: cover; }
  .carousel .owl-dots {
    position: absolute;
    padding: 5px 0;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .carousel .owl-dots .owl-dot {
      width: 15px;
      height: 15px;
      background-color: #EEEEEE;
      border-radius: 100%;
      margin: 0 5px; }
    .carousel .owl-dots .owl-dot.active {
      background-color: #BCAD92; }

.leaflet-popup-content-wrapper {
  background: none;
  box-shadow: none; }

.leaflet-popup-tip-container {
  display: none; }

.property-map {
  width: 260px;
  height: 170px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.75); }
  .property-map .info-property-map {
    padding: 5px 10px; }
  .property-map .banner-map {
    height: 70%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./../images/property.jpg"); }
  .property-map .title-property-map {
    text-transform: capitalize;
    color: #BCAD92;
    font-family: 'Proxima Nova Lt';
    font-weight: 600; }
  .property-map .extra-info-map {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .property-map .extra-info-map .address-property-map {
      color: #aaaaaa; }
    .property-map .extra-info-map .price {
      color: #000;
      font-family: 'Proxima Nova Lt';
      font-weight: 600; }

/*!
 Material Components for the Web
 Copyright (c) 2018 Google Inc.
 License: MIT
*/
@-webkit-keyframes mdc-select-float-native-control {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes mdc-select-float-native-control {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.mdc-line-ripple {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: 2; }

.mdc-line-ripple--active {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1; }

.mdc-line-ripple--deactivating {
  opacity: 0; }

.mdc-notched-outline,
.mdc-notched-outline__idle {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

.mdc-notched-outline {
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  text-align: left;
  overflow: hidden; }

[dir="rtl"] .mdc-notched-outline, .mdc-notched-outline[dir="rtl"] {
  text-align: right; }

.mdc-notched-outline svg {
  position: absolute;
  width: 100%;
  height: 100%; }

.mdc-notched-outline__idle {
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid;
  opacity: 1; }

.mdc-notched-outline__path {
  stroke-width: 1px;
  transition: stroke 150ms cubic-bezier(0.4, 0, 0.2, 1), stroke-width 150ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent; }

.mdc-notched-outline--notched {
  opacity: 1; }

.mdc-notched-outline--notched ~ .mdc-notched-outline__idle {
  opacity: 0; }

.mdc-floating-label {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.00937em;
  text-decoration: inherit;
  text-transform: inherit;
  position: absolute;
  bottom: 8px;
  left: 0;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.15rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  overflow: hidden;
  will-change: transform; }

[dir="rtl"] .mdc-floating-label, .mdc-floating-label[dir="rtl"] {
  /* @noflip */
  right: 0;
  /* @noflip */
  left: auto;
  /* @noflip */
  -webkit-transform-origin: right top;
  transform-origin: right top;
  /* @noflip */
  text-align: right; }

.mdc-floating-label--float-above {
  cursor: auto; }

.mdc-floating-label--float-above {
  -webkit-transform: translateY(-100%) scale(0.75);
  transform: translateY(-100%) scale(0.75); }

.mdc-floating-label--shake {
  -webkit-animation: mdc-floating-label-shake-float-above-standard 250ms 1;
  animation: mdc-floating-label-shake-float-above-standard 250ms 1; }

@-webkit-keyframes mdc-floating-label-shake-float-above-standard {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-100%) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-100%) scale(0.75); }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-100%) scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-100%) scale(0.75); }
  66% {
    -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-100%) scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-100%) scale(0.75); }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-100%) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-100%) scale(0.75); } }

@keyframes mdc-floating-label-shake-float-above-standard {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-100%) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-100%) scale(0.75); }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-100%) scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-100%) scale(0.75); }
  66% {
    -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-100%) scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-100%) scale(0.75); }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-100%) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-100%) scale(0.75); } }

@-webkit-keyframes mdc-ripple-fg-radius-in {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
    transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1); }
  to {
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
    transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); } }

@keyframes mdc-ripple-fg-radius-in {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
    transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1); }
  to {
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
    transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); } }

@-webkit-keyframes mdc-ripple-fg-opacity-in {
  from {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 0; }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0); } }

@keyframes mdc-ripple-fg-opacity-in {
  from {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 0; }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0); } }

@-webkit-keyframes mdc-ripple-fg-opacity-out {
  from {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0); }
  to {
    opacity: 0; } }

@keyframes mdc-ripple-fg-opacity-out {
  from {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0); }
  to {
    opacity: 0; } }

.mdc-ripple-surface--test-edge-var-bug {
  --mdc-ripple-surface-test-edge-var: 1px solid #000;
  visibility: hidden; }

.mdc-ripple-surface--test-edge-var-bug::before {
  border: var(--mdc-ripple-surface-test-edge-var); }

.mdc-select {
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: transform, opacity;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.54%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: 56px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  overflow: hidden;
  will-change: opacity, transform, color; }

.mdc-select:not(.mdc-select--disabled) {
  background-color: whitesmoke; }

.mdc-select::before, .mdc-select::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: ""; }

.mdc-select::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1; }

.mdc-select.mdc-ripple-upgraded::before {
  -webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
  transform: scale(var(--mdc-ripple-fg-scale, 1)); }

.mdc-select.mdc-ripple-upgraded::after {
  top: 0;
  /* @noflip */
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center center;
  transform-origin: center center; }

.mdc-select.mdc-ripple-upgraded--unbounded::after {
  top: var(--mdc-ripple-top, 0);
  /* @noflip */
  left: var(--mdc-ripple-left, 0); }

.mdc-select.mdc-ripple-upgraded--foreground-activation::after {
  -webkit-animation: 225ms mdc-ripple-fg-radius-in forwards, 75ms mdc-ripple-fg-opacity-in forwards;
  animation: 225ms mdc-ripple-fg-radius-in forwards, 75ms mdc-ripple-fg-opacity-in forwards; }

.mdc-select.mdc-ripple-upgraded--foreground-deactivation::after {
  -webkit-animation: 150ms mdc-ripple-fg-opacity-out;
  animation: 150ms mdc-ripple-fg-opacity-out;
  -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
  transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); }

.mdc-select::before, .mdc-select::after {
  top: calc(50% - 100%);
  /* @noflip */
  left: calc(50% - 100%);
  width: 200%;
  height: 200%; }

.mdc-select.mdc-ripple-upgraded::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%); }

.mdc-select::before, .mdc-select::after {
  background-color: rgba(0, 0, 0, 0.87); }

.mdc-select:hover::before {
  opacity: 0.04; }

.mdc-select:not(.mdc-ripple-upgraded):focus::before, .mdc-select.mdc-ripple-upgraded--background-focused::before {
  transition-duration: 75ms;
  opacity: 0.12; }

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control {
  color: rgba(0, 0, 0, 0.87); }

.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
  color: rgba(0, 0, 0, 0.6); }

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control {
  border-bottom-color: rgba(0, 0, 0, 0.42); }

.mdc-select, .mdc-select__native-control {
  border-radius: 4px 4px 0 0; }

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-line-ripple {
  background-color: #BCAD92;
  /* @alternate */
  background-color: var(--mdc-theme-primary, #BCAD92); }

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label {
  color: rgba(98, 0, 238, 0.87); }

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:hover {
  border-bottom-color: rgba(0, 0, 0, 0.87); }

.mdc-select .mdc-floating-label--float-above {
  -webkit-transform: translateY(-40%) scale(0.75);
  transform: translateY(-40%) scale(0.75); }

.mdc-select .mdc-floating-label {
  /* @noflip */
  left: 16px;
  /* @noflip */
  right: initial;
  bottom: 12px;
  line-height: 1.75rem;
  pointer-events: none; }

[dir="rtl"] .mdc-select .mdc-floating-label, .mdc-select .mdc-floating-label[dir="rtl"] {
  /* @noflip */
  left: initial;
  /* @noflip */
  right: 16px; }

[dir="rtl"] .mdc-select, .mdc-select[dir="rtl"] {
  background-position: left 10px center; }

.mdc-select__native-control {
  /* @noflip */
  padding-left: 16px;
  /* @noflip */
  padding-right: 26px;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.00937em;
  text-decoration: inherit;
  text-transform: inherit;
  width: 100%;
  height: 56px;
  padding-top: 20px;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background-color: transparent;
  color: inherit;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

[dir="rtl"] .mdc-select__native-control, .mdc-select__native-control[dir="rtl"] {
  /* @noflip */
  padding-left: 26px;
  /* @noflip */
  padding-right: 16px; }

.mdc-select__native-control::-ms-expand {
  display: none; }

.mdc-select__native-control::-ms-value {
  background-color: transparent;
  color: inherit; }

@-moz-document url-prefix("") {
  .mdc-select__native-control {
    text-indent: -2px; } }

.mdc-select__native-control > option {
  background-color: #fff;
  /* @alternate */
  background-color: var(--mdc-theme-surface, #fff);
  color: inherit; }

.mdc-select .mdc-select__native-control:focus ~ .mdc-line-ripple::after {
  -webkit-transform: scale(1, 2);
  transform: scale(1, 2);
  opacity: 1; }

.mdc-select--outlined {
  border: none;
  overflow: visible; }

.mdc-select--outlined:not(.mdc-select--disabled) {
  background-color: transparent; }

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__idle {
  border-color: rgba(0, 0, 0, 0.24); }

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__path {
  stroke: rgba(0, 0, 0, 0.24); }

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select__native-control:focus) .mdc-select__native-control:hover ~ .mdc-notched-outline__idle {
  border-color: rgba(0, 0, 0, 0.87); }

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select__native-control:focus) .mdc-select__native-control:hover ~ .mdc-notched-outline .mdc-notched-outline__path {
  stroke: rgba(0, 0, 0, 0.87); }

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-notched-outline .mdc-notched-outline__path {
  stroke-width: 2px; }

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-notched-outline .mdc-notched-outline__path {
  stroke: #BCAD92;
  /* @alternate */
  stroke: var(--mdc-theme-primary, #BCAD92); }

.mdc-select--outlined .mdc-floating-label--float-above {
  -webkit-transform: translateY(-130%) scale(0.75);
  transform: translateY(-130%) scale(0.75); }

.mdc-select--outlined .mdc-floating-label--shake {
  -webkit-animation: mdc-floating-label-shake-float-above-text-field-outlined 250ms 1;
  animation: mdc-floating-label-shake-float-above-text-field-outlined 250ms 1; }

.mdc-select--outlined .mdc-notched-outline {
  border-radius: 4px; }

.mdc-select--outlined .mdc-notched-outline__idle {
  border-radius: 4px; }

.mdc-select--outlined__native-control {
  border-radius: 4px; }

.mdc-select--outlined::before, .mdc-select--outlined::after {
  background-color: transparent; }

.mdc-select--outlined:not(.mdc-select--disabled) {
  background-color: transparent; }

.mdc-select--outlined .mdc-select__native-control {
  /* @noflip */
  padding-left: 16px;
  /* @noflip */
  padding-right: 26px;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background-color: transparent;
  z-index: 1; }

[dir="rtl"] .mdc-select--outlined .mdc-select__native-control, .mdc-select--outlined .mdc-select__native-control[dir="rtl"] {
  /* @noflip */
  padding-left: 26px;
  /* @noflip */
  padding-right: 16px; }

.mdc-select--outlined .mdc-floating-label {
  bottom: 20px;
  line-height: 1.15rem;
  pointer-events: auto; }

.mdc-select--disabled {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.37%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");
  background-color: #fafafa;
  cursor: default;
  pointer-events: none; }

.mdc-select--disabled .mdc-floating-label {
  color: rgba(0, 0, 0, 0.37); }

.mdc-select--disabled .mdc-line-ripple {
  display: none; }

.mdc-select--disabled .mdc-select__native-control {
  border-bottom-style: dotted;
  color: rgba(0, 0, 0, 0.37); }

.mdc-select--disabled.mdc-select--outlined {
  background-color: transparent; }

.mdc-select--disabled.mdc-select--outlined .mdc-select__native-control {
  border-bottom-style: none; }

.mdc-select--disabled.mdc-select--outlined .mdc-notched-outline__idle {
  border-color: rgba(0, 0, 0, 0.16); }

.mdc-select--disabled.mdc-select--outlined .mdc-notched-outline__path {
  stroke: rgba(0, 0, 0, 0.16); }

/*# sourceMappingURL=mdc.select.css.map*/
.mdc-select__native-control {
  padding: 5px 10px;
  border: none; }

.mdc-floating-label {
  margin-bottom: 0 !important; }

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label, .mdc-select:not(.mdc-select--disabled) .mdc-select__native-control {
  color: #BCAD92; }

.mdc-select:not(.mdc-select--disabled) {
  background-color: white; }
